@tailwind base;
@tailwind components;
@tailwind utilities;

.isFavorite {
  width: 40px;
  height: 40px;
  background-image: url('./assets/red-heart.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.notFavorite {
  width: 40px;
  height: 40px;
  background-image: url('./assets/empty-heart.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
